alias lvim="NVIM_APPNAME=lvim nvim"
alias help="nocorrect run-help"
alias v="nvim"
alias v4="NVIM_APPNAME=v4 nvim"
alias venv="source .venv/bin/activate"
alias watch="watch -cd"
alias clc=clipcopy
alias clp=clippaste
alias cz='chezmoi'
alias czi='chezmoi init'
alias czs='chezmoi status'
alias czd='chezmoi diff'
alias czm='chezmoi merge-all'
alias czap='chezmoi apply'
alias cza='chezmoi add'
alias czra='chezmoi re-add'
alias czcd='chezmoi cd'
alias cze='chezmoi edit'
alias czea='chezmoi edit --apply'
alias czu='chezmoi update'
alias czua='chezmoi update --apply'
# make functions for commands which could be used in piping
{{- if lookPath "eza" -}}
alias l="eza --long --icons --header --octal-permissions --all --sort name --git --group-directories-first"
alias la="eza --icons --header --all --sort name --git --group-directories-first"
alias lr="eza --long --icons --header --octal-permissions --all --sort name --git --group-directories-first --total-size"
alias ls="eza --icons --sort name --group-directories-first --git"
alias lo="eza --icons --sort name -1"
alias tree="eza --icons --header --sort name --group-directories-first --tree --ignore-glob __pycache__"
export FZF_ALT_C_OPTS="--preview 'eza --icons --header --sort name --group-directories-first --tree {}'"
{{ end }}
{{- if lookPath "python3" -}}
alias p="python"
alias p3="python3"
{{ end }}
{{- if lookPath "keepassxc-cli" -}}
alias kp="keepassxc-cli"
{{ end }}
{{- if lookPath "asciinema" -}}
alias asc=asciinema
{{ end }}
{{- if lookPath "zoxide" -}}
eval "$(zoxide init zsh)"
alias cd="z"
alias cdi="zi"
{{ end }}
{{- if lookPath "fastfetch" -}}
alias ff='fastfetch'
{{- end }}
[[ -n "$TMUX" ]] && alias clear="clear && tmux clear-history"
alias lg=lazygit
alias lzd=lazydocker
alias c=clear
alias pydoc="python3 -m pydoc"
alias zshrc="$EDITOR $HOME/.zshrc"

if [[ -n $GHOSTTY_BIN_DIR ]]; then
    alias imgcat='timg -p kitty'
    alias icat='timg -p kitty'
fi
