[Unit]
Description=Disable player led and change lightbar color to purple on connection

[Service]
Environment="DISPLAY=:0"
ExecStart=/usr/bin/dualsensectl monitor add '/usr/bin/dualsensectl lightbar 100 0 255 && /usr/bin/dualsensectl player-leds 0'

[Install]
WantedBy=graphical.target
