[Unit]
Description=Updates `tldr` cache

[Service]
Type=oneshot
ExecSearchPath=/usr/bin
ExecStart=tldr --update

[Install]
WantedBy=multi-user.target
