[Unit]
Description=Change wallpaper
Documentation=man:nitrogen

[Service]
ExecStart=/home/ray/.config/i3/scripts/nitrogen_wallpaper /home/ray/Pictures/wallpapers/bladerunner2049.png
Environment="PATH=/usr/bin:/bin"

[Install]
WantedBy=default.target
