{{ if (and (eq .chezmoi.os "darwin" "linux")) -}}
#!/usr/bin/env bash

{{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library.sh") }}

if ! command_exists rustup && ask_user "Install rustup using curl?"; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

{{ end -}}
