{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library.sh") -}}

if grep -q elementary /usr/share/icons/default/index.theme; then
    exit 0
fi
if ask_user "Change default user's cursor to elementary?"; then
    echo "Changing cursor for current user to elementary"
    cat <<EOF | sudo tee /usr/share/icons/default/index.theme > /dev/null
[Icon Theme]
Inherits=elementary
EOF
mkdir "$HOME/.icons" || echo "$HOME/.icons directory already exists"
ln -s /usr/share/icons/elementary "$HOME/.icons"
fi

{{ end -}}
