encryption = "gpg"
progress = true
[gpg]
    recipient = "04CF04D66633E24A"
    args = ["--quiet"]

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[diff]
    reverse = true
    pager = "diff-so-fancy"
[edit]
apply = true
watch = true

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]
