{{ $install_rustup := promptBoolOnce . "install_rustup" "Install `rustup` using curl?" }}
{{ $change_shell := promptBoolOnce . "change_shell" "Change default user's shell to `zsh`? (homebrew's zsh in MacOS case)" }}
{{ $change_darwin_defaults := promptBoolOnce . "change_darwin_defaults" "Change MacOS defaults? https://mths.be/macos" }}

encryption = "gpg"
[gpg]
    recipient = "04CF04D66633E24A"
    args = ["--quiet"]

# [merge]
#     command = "meld"
#     args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
# [diff]
#     command = "meld"
#     args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[diff]
    pager = "diff-so-fancy"
    command = "nvim"
    args = ["-dR", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

[data]
install_rustup = {{ $install_rustup }}
