[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "tmux/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "nvim"]
	path = nvim
	url = git@github.com:RayJameson/astronvim_config.git
[submodule "i3"]
	path = i3
	url = git@github.com:RayJameson/i3.git
