[Desktop Entry]
Type=Application
Exec=dex %F
Name=dex
Keywords=Run;Application;Execute;
Categories=Utility;
Comment=DesktopEntry Execution, is a program to generate and execute DesktopEntry files of the Application type.
MimeType=application/x-desktop
Hidden=true
