theme = Dracula
cursor-color = #ffffff
background-opacity = 0.7
background-blur-radius = 20
copy-on-select = true
adjust-underline-thickness = -2
adjust-cursor-thickness = -2
adjust-box-thickness = -2
gtk-titlebar = false
gtk-single-instance = true

# Font
font-size = {{ if eq .chezmoi.os "linux" }}19{{ else if eq .chezmoi.os "darwin" }}24{{ end }}
freetype-load-flags = false
font-synthetic-style = false

font-family = Iosevka Nerd Font Mono
font-style = Condensed ExtraLight

font-family-bold = Iosevka Nerd Font Mono
font-style-bold = Condensed Medium

font-family-italic = Iosevka Nerd Font Mono
font-style-italic = Condensed Oblique

font-family-bold-italic = Iosevka Nerd Font Mono
font-style-bold-italic = Condensed Medium Oblique

# MacOS specific stuff
macos-titlebar-style = hidden
macos-option-as-alt = true
macos-auto-secure-input = true

# Resize splits
keybind = ctrl+shift+h=resize_split:left,20
keybind = ctrl+shift+k=resize_split:up,20
keybind = ctrl+shift+j=resize_split:down,20
keybind = ctrl+shift+l=resize_split:right,20

keybind = shift+page_up=scroll_page_up
keybind = shift+page_down=scroll_page_down

keybind = ctrl+shift+plus=increase_font_size:1
keybind = ctrl+shift+minus=decrease_font_size:1
