[General]
AutoTypeStartDelay=1000
BackupBeforeSave=true
BackupFilePathPattern={DB_FILENAME}.bak.kdbx
ConfigVersion=2
FaviconDownloadTimeout=15
GlobalAutoTypeKey=86
GlobalAutoTypeModifiers=100663296
HideWindowOnCopy=false
MinimizeOnOpenUrl=false
UpdateCheckMessageShown=true

[Browser]
AlwaysAllowAccess=true
BestMatchOnly=true
CustomProxyLocation=
Enabled=true
HttpAuthPermission=true

[GUI]
AdvancedSettings=false
CheckForUpdatesIncludeBetas=true
ColorPasswords=true
CompactMode=true
HidePasswords=true
HideUsernames=false
MinimizeOnClose=true
MinimizeOnStartup=true
MinimizeToTray=true
ShowTrayIcon=true
ToolButtonStyle=3
TrayIconAppearance=monochrome

[PasswordGenerator]
AdditionalChars=
AdvancedMode=true
Dashes=false
ExcludedChars=",`\\|"
Length=32
Logograms=false
Type=0
WordCount=6

[SSHAgent]
Enabled=true

[Security]
AutotypeAsk=false
ClearClipboardTimeout=30
IconDownloadFallback=true
LockDatabaseIdle=false
LockDatabaseScreenLock=false
PasswordEmptyPlaceholder=true
PasswordsHidden=true
