* {
  all: unset;
  font-family: JetBrains Mono NF;
  color: #ECF2F8;
  font-weight: bold;
  font-size: 16px;
}

.window {
  border-radius: 10px;
  background-color: #1e222a;
  margin: 2px;
}

tabs {
    padding: 0.5rem 1rem;
}

tabs > tab {
    margin-right: 1rem;
}

.tab-label {
    color: #89929B;
    transition: all 0.2s ease;
}

tabs > tab:checked > .tab-label, tabs > tab:active > .tab-label {
    text-decoration: underline currentColor;
    color: #ECF2F8;
}

tabs > tab:focus > .tab-label {
    color: #ECF2F8;
}

.page {
    padding: 1rem;
}

.image-label {
    font-size: 12px;
    padding: 0.25rem;
}

flowboxchild > .card, button > .card {
    transition: all 0.2s ease;
    border: solid 2px transparent;
    border-radius: 5px;
    background-color: #292e39;
    padding: 5px;
}

flowboxchild:active > .card, flowboxchild:selected > .card, button:active > .card, button:selected > .card, button:focus > .card {
    border: solid 2px #b874e8;
}

.image {
    border-radius: 5px;
}

.region-button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #292e39;
    color: #161B22;
    transition: all 0.2s ease;
}

.region-button:not(:disabled):hover, .region-button:not(:disabled):focus {
    background-color: #b874e8;
}

.region-button:disabled {
    background-color: #89929B;
    color: #21262D;
}
