[Desktop Entry]
Name=Cider
Exec=/opt/Cider/cider %U
Terminal=false
Type=Application
Icon=cider
StartupWMClass=Cider
StartupNotify=false
Encoding=UTF-8
MimeType=x-scheme-handler/cider;
Comment=A cross-platform Apple Music experience built on Vue.js and written from the ground up with performance in mind.
Categories=AudioVideo;
